li {
	display: flex;
	padding: 15px 30px;
	border-bottom: 1px solid #fff;
}

li:last-child {
	border-bottom: none;
}

.text {
	box-sizing: border-box;
	width: 75%;
}

.actions {
	box-sizing: border-box;
	width: 25%;
}

