#ToDoApp {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	min-width: 250px;
	max-width: 600px;
	background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
	-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
	border-radius: 30px;
}

header {
	flex: 0 0 auto;
	padding: 30px;
}

main {
	flex: 1 1 auto;
	overflow: auto;
	padding: 30px;
}

footer {
	flex: 0 0 auto;
	padding: 30px;
}