html, body, #root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
}

body {
	font-family: Trebuchet, Arial, sans-serif;
	background: #e1e1e1;
	color: #333;
	padding: 40px;
}

input:focus, button:focus {
	outline: none;
}